<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_admin && !current_admin.image.nil? %>
    <%= image_tag current_admin.image.url %>
<% end %>

<% if !@profiles.empty? %>
    <% @profiles.each do |profile| %>
        <h3><%= profile.title %></h3>
        <p><%= profile.body %></p>
        <%= image_tag profile.image.url %>
    <% end %>
<% else %>
    <p>There are no profiles for now!</p>
<% end %>
